{{#partial "content" }}
    </head>
    <style>
        .field-icon {
            float: right;
            margin-top: -27px;
            margin-right: 10px;
            position: relative;
            z-index: 2;
        }
    </style>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top shadow">
        <a class="navbar-brand" href="/">Que Me Pongo</a>
    </nav>
    <body class="text-center sticky-footer">
    <div class="content-wrapper">
        <div class="container-fluid">
            <h1 align="center" class="display-4">
                <i class="fal fa-exclamation-triangle"></i>
                404 - Página no encontrada
            </h1>
            <hr>
            <br>
            <div class="text-center">
                <h4>
                    Buscamos, pero no encontramos la dirección que nos diste.
                    <i class="fal fa-frown"></i>
                </h4>
                <p>Si crees que es un error comunícate con nosotros mediante nuestro exclusivo <a href="https://www.expansion.com/fueradeserie/cuerpo/2016/04/04/56fbbd35268e3e56228b4597.html">servicio de palomas mensajeras</a>.</p>
                <br>
                <a href="/home">
                    <i class="fal fa-arrow-left"></i>
                    Volver al inicio
                </a>
                <br>
            </div>
        </div>
    </div>
{{/partial}}

{{> base.hbs}}