{{#partial "content" }}
    <link rel="stylesheet" href="css/calendar.css">
    </head>
    <!-- Navigation -->
    {{> Nav.hbs}}
    <body class="text-center sticky-footer">
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="nav-container" style="position: relative">
                <ol class="breadcrumb shadow">
                    <li class="breadcrumb-item">
                        <a href="/home">Que Me Pongo</a>
                    </li>
                    <li class="breadcrumb-item active">{{section}}</li>
                </ol>
                <button class="btn btn-sm btn-success" id="myBtn" title="Agregar evento" data-toggle="modal" data-target="#addEvent" style="position:absolute; right:1rem; top:50%; transform:translateY(-50%);">
                    <i class="fal fa-calendar-plus"></i>
                </button>
            </div>
            <div class="modal fade" id="addEvent" tabindex="-1" role="dialog" aria-labelledby="addEventLabel" aria-hidden="true">
                <div class="border-dark modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-success text-white">
                            <h5 class="modal-title" id="addEventLabel">Agregar evento</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="form-signin">
                                <div class="form-row" id="usersSelector">
                                    <div class="col-md">
                                        <label for="buscador">Personas</label>
                                        <div class="input-group input-group-sm">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroup-sizing-sm"><i class="fal fa-user"></i></span>
                                            </div>
                                            <input type="text" class="form-control" aria-label="buscador" name="buscador" id="buscador" maxlength="30" autocomplete="off" onkeyup="buscar();" title="Buscar receptores">
                                        </div>
                                        <div id="resultadoBusqueda"></div>
                                    </div>
                                    <div class="col-md">
                                        <div id="seleccionados" class="form-group">
                                            <label for="seleccionados">Seleccionados:</label>
                                            <div class="lista list-group input-group-sm">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md">
                                        <div class="form-group">
                                            <label for="asunto">Asunto</label>
                                            <div class="input-group input-group-sm">
                                                <input type="text" class="form-control" aria-label="asunto" name="asunto" id="asunto">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--
                                <div class="form-group">
                                    <label for="editor1">Mensaje</label>
                                    <textarea class="ckeditor" name="editor1" id="editor1" rows="10" cols="80" style="display: none;"></textarea><div class="ck ck-reset ck-editor ck-rounded-corners" role="application" dir="ltr" lang="en" aria-labelledby="ck-editor__aria-label_eddf89ad0fe7ec3dd789c89233fed3574"><label class="ck ck-label ck-voice-label" id="ck-editor__aria-label_eddf89ad0fe7ec3dd789c89233fed3574">Rich Text Editor</label><div class="ck ck-editor__top ck-reset_all" role="presentation"><div class="ck ck-sticky-panel"><div class="ck ck-sticky-panel__placeholder" style="display: none;"></div><div class="ck ck-sticky-panel__content"><div class="ck ck-toolbar"><div class="ck ck-dropdown ck-heading-dropdown"><button class="ck ck-button ck-off ck-button_with-text ck-dropdown__button" type="button" tabindex="-1" aria-labelledby="ck-editor__aria-label_e12a62b98c01f0db7af545b3f0c44f863" aria-haspopup="true"><span class="ck ck-tooltip ck-tooltip_s"><span class="ck ck-tooltip__text">Heading</span></span><span class="ck ck-button__label" id="ck-editor__aria-label_e12a62b98c01f0db7af545b3f0c44f863">Paragraph</span><svg class="ck ck-icon ck-dropdown__arrow" viewBox="0 0 10 10"><path d="M.941 4.523a.75.75 0 1 1 1.06-1.06l3.006 3.005 3.005-3.005a.75.75 0 1 1 1.06 1.06l-3.549 3.55a.75.75 0 0 1-1.168-.136L.941 4.523z" fill="#000" fill-rule="evenodd"></path></svg></button><div class="ck ck-reset ck-dropdown__panel"><ul class="ck ck-reset ck-list"><li class="ck ck-list__item"><button class="ck ck-button ck-heading_paragraph ck-on ck-button_with-text" type="button" tabindex="-1" aria-labelledby="ck-editor__aria-label_e4b3643ef7c9fdb8866210fd126c7035a" aria-pressed="true"><span class="ck ck-tooltip ck-tooltip_s ck-hidden"><span class="ck ck-tooltip__text"></span></span><span class="ck ck-button__label" id="ck-editor__aria-label_e4b3643ef7c9fdb8866210fd126c7035a">Paragraph</span></button></li><li class="ck ck-list__item"><button class="ck ck-button ck-heading_heading1 ck-off ck-button_with-text" type="button" tabindex="-1" aria-labelledby="ck-editor__aria-label_e8e1a89bfb5667510775ac1e164f14fd5"><span class="ck ck-tooltip ck-tooltip_s ck-hidden"><span class="ck ck-tooltip__text"></span></span><span class="ck ck-button__label" id="ck-editor__aria-label_e8e1a89bfb5667510775ac1e164f14fd5">Heading 1</span></button></li><li class="ck ck-list__item"><button class="ck ck-button ck-heading_heading2 ck-off ck-button_with-text" type="button" tabindex="-1" aria-labelledby="ck-editor__aria-label_e57b1f6f3b92add4c8be825ab2c0a549c"><span class="ck ck-tooltip ck-tooltip_s ck-hidden"><span class="ck ck-tooltip__text"></span></span><span class="ck ck-button__label" id="ck-editor__aria-label_e57b1f6f3b92add4c8be825ab2c0a549c">Heading 2</span></button></li><li class="ck ck-list__item"><button class="ck ck-button ck-heading_heading3 ck-off ck-button_with-text" type="button" tabindex="-1" aria-labelledby="ck-editor__aria-label_ea1d1d7247a05b8338f538b57b954a133"><span class="ck ck-tooltip ck-tooltip_s ck-hidden"><span class="ck ck-tooltip__text"></span></span><span class="ck ck-button__label" id="ck-editor__aria-label_ea1d1d7247a05b8338f538b57b954a133">Heading 3</span></button></li></ul></div></div><span class="ck ck-toolbar__separator"></span><button class="ck ck-button ck-off" type="button" tabindex="-1" aria-labelledby="ck-editor__aria-label_e2e8b88db5cbf86f7f11ad07c592698ed"><svg class="ck ck-icon ck-button__icon" viewBox="0 0 20 20"><path d="M10.187 17H5.773c-.637 0-1.092-.138-1.364-.415-.273-.277-.409-.718-.409-1.323V4.738c0-.617.14-1.062.419-1.332.279-.27.73-.406 1.354-.406h4.68c.69 0 1.288.041 1.793.124.506.083.96.242 1.36.478.341.197.644.447.906.75a3.262 3.262 0 0 1 .808 2.162c0 1.401-.722 2.426-2.167 3.075C15.05 10.175 16 11.315 16 13.01a3.756 3.756 0 0 1-2.296 3.504 6.1 6.1 0 0 1-1.517.377c-.571.073-1.238.11-2 .11zm-.217-6.217H7v4.087h3.069c1.977 0 2.965-.69 2.965-2.072 0-.707-.256-1.22-.768-1.537-.512-.319-1.277-.478-2.296-.478zM7 5.13v3.619h2.606c.729 0 1.292-.067 1.69-.2a1.6 1.6 0 0 0 .91-.765c.165-.267.247-.566.247-.897 0-.707-.26-1.176-.778-1.409-.519-.232-1.31-.348-2.375-.348H7z" fill="#000" fill-rule="evenodd"></path></svg><span class="ck ck-tooltip ck-tooltip_s"><span class="ck ck-tooltip__text">Bold (CTRL+B)</span></span><span class="ck ck-button__label" id="ck-editor__aria-label_e2e8b88db5cbf86f7f11ad07c592698ed">Bold</span></button><button class="ck ck-button ck-off" type="button" tabindex="-1" aria-labelledby="ck-editor__aria-label_e0853818621c7e373b02b258c99771c3f"><svg class="ck ck-icon ck-button__icon" viewBox="0 0 20 20"><path d="M9.586 14.633l.021.004c-.036.335.095.655.393.962.082.083.173.15.274.201h1.474a.6.6 0 1 1 0 1.2H5.304a.6.6 0 0 1 0-1.2h1.15c.474-.07.809-.182 1.005-.334.157-.122.291-.32.404-.597l2.416-9.55a1.053 1.053 0 0 0-.281-.823 1.12 1.12 0 0 0-.442-.296H8.15a.6.6 0 0 1 0-1.2h6.443a.6.6 0 1 1 0 1.2h-1.195c-.376.056-.65.155-.823.296-.215.175-.423.439-.623.79l-2.366 9.347z" fill="#333" fill-rule="evenodd"></path></svg><span class="ck ck-tooltip ck-tooltip_s"><span class="ck ck-tooltip__text">Italic (CTRL+I)</span></span><span class="ck ck-button__label" id="ck-editor__aria-label_e0853818621c7e373b02b258c99771c3f">Italic</span></button><button class="ck ck-button ck-off" type="button" tabindex="-1" aria-labelledby="ck-editor__aria-label_ea2cd20f183cb766b9ea77e8dfff60573"><svg class="ck ck-icon ck-button__icon" viewBox="0 0 20 20"><path d="M11.077 15l.991-1.416a.75.75 0 1 1 1.229.86l-1.148 1.64a.748.748 0 0 1-.217.206 5.251 5.251 0 0 1-8.503-5.955c.02-.095.06-.189.12-.274l1.147-1.639a.75.75 0 1 1 1.228.86L4.933 10.7l.006.003a3.75 3.75 0 0 0 6.132 4.294l.006.004zm5.494-5.335a.748.748 0 0 1-.12.274l-1.147 1.639a.75.75 0 1 1-1.228-.86l.86-1.23a3.75 3.75 0 0 0-6.144-4.301l-.86 1.229a.75.75 0 0 1-1.229-.86l1.148-1.64a.748.748 0 0 1 .217-.206 5.251 5.251 0 0 1 8.503 5.955zm-4.563-2.532a.75.75 0 0 1 .184 1.045l-3.155 4.505a.75.75 0 1 1-1.229-.86l3.155-4.506a.75.75 0 0 1 1.045-.184z" fill="#000" fill-rule="evenodd"></path></svg><span class="ck ck-tooltip ck-tooltip_s"><span class="ck ck-tooltip__text">Link (Ctrl+K)</span></span><span class="ck ck-button__label" id="ck-editor__aria-label_ea2cd20f183cb766b9ea77e8dfff60573">Link</span></button><button class="ck ck-button ck-off" type="button" tabindex="-1" aria-labelledby="ck-editor__aria-label_ee7cfdcd26bc030d6dc2e9a739c00c1fd"><svg class="ck ck-icon ck-button__icon" viewBox="0 0 20 20"><path d="M7 5.75c0 .414.336.75.75.75h9.5a.75.75 0 1 0 0-1.5h-9.5a.75.75 0 0 0-.75.75zm-6 0C1 4.784 1.777 4 2.75 4c.966 0 1.75.777 1.75 1.75 0 .966-.777 1.75-1.75 1.75C1.784 7.5 1 6.723 1 5.75zm6 9c0 .414.336.75.75.75h9.5a.75.75 0 1 0 0-1.5h-9.5a.75.75 0 0 0-.75.75zm-6 0c0-.966.777-1.75 1.75-1.75.966 0 1.75.777 1.75 1.75 0 .966-.777 1.75-1.75 1.75-.966 0-1.75-.777-1.75-1.75z" fill="#454545" fill-rule="evenodd"></path></svg><span class="ck ck-tooltip ck-tooltip_s"><span class="ck ck-tooltip__text">Bulleted List</span></span><span class="ck ck-button__label" id="ck-editor__aria-label_ee7cfdcd26bc030d6dc2e9a739c00c1fd">Bulleted List</span></button><button class="ck ck-button ck-off" type="button" tabindex="-1" aria-labelledby="ck-editor__aria-label_e04aa7ddd2c6a2a9902244b773aad1191"><svg class="ck ck-icon ck-button__icon" viewBox="0 0 20 20"><path d="M7 5.75c0 .414.336.75.75.75h9.5a.75.75 0 1 0 0-1.5h-9.5a.75.75 0 0 0-.75.75zM3.5 3v5H2V3.7H1v-1h2.5V3zM.343 17.857l2.59-3.257H2.92a.6.6 0 1 0-1.04 0H.302a2 2 0 1 1 3.995 0h-.001c-.048.405-.16.734-.333.988-.175.254-.59.692-1.244 1.312H4.3v1h-4l.043-.043zM7 14.75a.75.75 0 0 1 .75-.75h9.5a.75.75 0 1 1 0 1.5h-9.5a.75.75 0 0 1-.75-.75z" fill="#454545" fill-rule="evenodd"></path></svg><span class="ck ck-tooltip ck-tooltip_s"><span class="ck ck-tooltip__text">Numbered List</span></span><span class="ck ck-button__label" id="ck-editor__aria-label_e04aa7ddd2c6a2a9902244b773aad1191">Numbered List</span></button><button class="ck ck-button ck-off" type="button" tabindex="-1" aria-labelledby="ck-editor__aria-label_e36cef3509f3309040a4260d089edfd67"><svg class="ck ck-icon ck-button__icon" viewBox="0 0 20 20"><g fill="#000" fill-rule="evenodd"><path d="M3 10.423a6.5 6.5 0 0 1 6.056-6.408l.038.67C6.448 5.423 5.354 7.663 5.22 10H9c.552 0 .5.432.5.986v4.511c0 .554-.448.503-1 .503h-5c-.552 0-.5-.449-.5-1.003v-4.011-.563zM11 10.423a6.5 6.5 0 0 1 6.056-6.408l.038.67c-2.646.739-3.74 2.979-3.873 5.315H17c.552 0 .5.432.5.986v4.511c0 .554-.448.503-1 .503h-5c-.552 0-.5-.449-.5-1.003v-4.011-.563z"></path></g></svg><span class="ck ck-tooltip ck-tooltip_s"><span class="ck ck-tooltip__text">Block quote</span></span><span class="ck ck-button__label" id="ck-editor__aria-label_e36cef3509f3309040a4260d089edfd67">Block quote</span></button><button class="ck ck-button ck-disabled ck-off" type="button" tabindex="-1" aria-labelledby="ck-editor__aria-label_eeac488fe4dad15896d295061a174bd49" aria-disabled="true"><svg class="ck ck-icon ck-button__icon" viewBox="0 0 20 20"><path d="M5.042 9.367l2.189 1.837a.75.75 0 0 1-.965 1.149l-3.788-3.18a.747.747 0 0 1-.21-.284.75.75 0 0 1 .17-.945L6.23 4.762a.75.75 0 1 1 .964 1.15L4.863 7.866h8.917A.75.75 0 0 1 14 7.9a4 4 0 1 1-1.477 7.718l.344-1.489a2.5 2.5 0 1 0 1.094-4.73l.008-.032H5.042z" fill="#000" fill-rule="nonzero"></path></svg><span class="ck ck-tooltip ck-tooltip_s"><span class="ck ck-tooltip__text">Undo (CTRL+Z)</span></span><span class="ck ck-button__label" id="ck-editor__aria-label_eeac488fe4dad15896d295061a174bd49">Undo</span></button><button class="ck ck-button ck-disabled ck-off" type="button" tabindex="-1" aria-labelledby="ck-editor__aria-label_eebf638562cf226eff05201025e4dbe8f" aria-disabled="true"><svg class="ck ck-icon ck-button__icon" viewBox="0 0 20 20"><path d="M14.958 9.367l-2.189 1.837a.75.75 0 0 0 .965 1.149l3.788-3.18a.747.747 0 0 0 .21-.284.75.75 0 0 0-.17-.945L13.77 4.762a.75.75 0 1 0-.964 1.15l2.331 1.955H6.22A.75.75 0 0 0 6 7.9a4 4 0 1 0 1.477 7.718l-.344-1.489A2.5 2.5 0 1 1 6.039 9.4l-.008-.032h8.927z" fill="#000" fill-rule="nonzero"></path></svg><span class="ck ck-tooltip ck-tooltip_s"><span class="ck ck-tooltip__text">Redo (CTRL+Y)</span></span><span class="ck ck-button__label" id="ck-editor__aria-label_eebf638562cf226eff05201025e4dbe8f">Redo</span></button></div></div></div></div><div class="ck ck-editor__main" role="presentation"><div class="ck ck-content ck-editor__editable ck-rounded-corners ck-blurred ck-editor__editable_inline" contenteditable="true" role="textbox" aria-label="Rich Text Editor, main"><p><br data-cke-filler="true"></p></div></div></div>
                                    <small id="editor1" class="form-text text-muted">Si el correo se envía a alguien que no forma parte del personal, este requerirá autorización del director.</small>
                                </div>-->
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary btn-block" onclick="enviarMensaje()">
                                <i class="fal fa-calendar-plus"></i>
                                Agregar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <header>
                    <h4 class="display-4 mb-4 text-center">Noviembre 2017</h4>
                    <div class="row d-none d-sm-flex p-1 bg-dark text-white">
                        <h5 class="col-sm p-1 text-center">Domingo</h5>
                        <h5 class="col-sm p-1 text-center">Lunes</h5>
                        <h5 class="col-sm p-1 text-center">Martes</h5>
                        <h5 class="col-sm p-1 text-center">Miercoles</h5>
                        <h5 class="col-sm p-1 text-center">Jueves</h5>
                        <h5 class="col-sm p-1 text-center">Viernes</h5>
                        <h5 class="col-sm p-1 text-center">Sabado</h5>
                    </div>
                </header>
                <div class="row border border-right-0 border-bottom-0">
                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">
                        <h5 class="row align-items-center">
                            <span class="date col-1">29</span>
                            <small class="col d-sm-none text-center text-muted">Sunday</small>
                            <span class="col-1"></span>
                        </h5>
                        <p class="d-sm-none">No events</p>
                    </div>
                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">
                        <h5 class="row align-items-center">
                            <span class="date col-1">30</span>
                            <small class="col d-sm-none text-center text-muted">Monday</small>
                            <span class="col-1"></span>
                        </h5>
                        <p class="d-sm-none">No events</p>
                    </div>
                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">
                        <h5 class="row align-items-center">
                            <span class="date col-1">31</span>
                            <small class="col d-sm-none text-center text-muted">Tuesday</small>
                            <span class="col-1"></span>
                        </h5>
                        <p class="d-sm-none">No events</p>
                    </div>
                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
                        <h5 class="row align-items-center">
                            <span class="date col-1">1</span>
                            <small class="col d-sm-none text-center text-muted">Wednesday</small>
                            <span class="col-1"></span>
                        </h5>
                        <p class="d-sm-none">No events</p>
                    </div>
                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
                        <h5 class="row align-items-center">
                            <span class="date col-1">2</span>
                            <small class="col d-sm-none text-center text-muted">Thursday</small>
                            <span class="col-1"></span>
                        </h5>
                        <p class="d-sm-none">No events</p>
                    </div>
                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
                        <h5 class="row align-items-center">
                            <span class="date col-1">3</span>
                            <small class="col d-sm-none text-center text-muted">Friday</small>
                            <span class="col-1"></span>
                        </h5>
                        <a class="event d-block p-1 pl-2 pr-2 mb-1 rounded text-truncate small bg-info text-white" title="Test Event 1">Test Event 1</a>
                    </div>
                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
                        <h5 class="row align-items-center">
                            <span class="date col-1">4</span>
                            <small class="col d-sm-none text-center text-muted">Saturday</small>
                            <span class="col-1"></span>
                        </h5>
                        <p class="d-sm-none">No events</p>
                    </div>
                    <div class="w-100"></div>
                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
                        <h5 class="row align-items-center">
                            <span class="date col-1">5</span>
                            <small class="col d-sm-none text-center text-muted">Sunday</small>
                            <span class="col-1"></span>
                        </h5>
                        <p class="d-sm-none">No events</p>
                    </div>
                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
                        <h5 class="row align-items-center">
                            <span class="date col-1">6</span>
                            <small class="col d-sm-none text-center text-muted">Monday</small>
                            <span class="col-1"></span>
                        </h5>
                        <p class="d-sm-none">No events</p>
                    </div>
                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
                        <h5 class="row align-items-center">
                            <span class="date col-1">7</span>
                            <small class="col d-sm-none text-center text-muted">Tuesday</small>
                            <span class="col-1"></span>
                        </h5>
                        <p class="d-sm-none">No events</p>
                    </div>
                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
                        <h5 class="row align-items-center">
                            <span class="date col-1">8</span>
                            <small class="col d-sm-none text-center text-muted">Wednesday</small>
                            <span class="col-1"></span>
                        </h5>
                        <a class="event d-block p-1 pl-2 pr-2 mb-1 rounded text-truncate small bg-success text-white" title="Test Event 2">Test Event 2</a>
                        <a class="event d-block p-1 pl-2 pr-2 mb-1 rounded text-truncate small bg-danger text-white" title="Test Event 3">Test Event 3</a>
                    </div>
                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
                        <h5 class="row align-items-center">
                            <span class="date col-1">9</span>
                            <small class="col d-sm-none text-center text-muted">Thursday</small>
                            <span class="col-1"></span>
                        </h5>
                        <p class="d-sm-none">No events</p>
                    </div>
                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
                        <h5 class="row align-items-center">
                            <span class="date col-1">10</span>
                            <small class="col d-sm-none text-center text-muted">Friday</small>
                            <span class="col-1"></span>
                        </h5>
                        <p class="d-sm-none">No events</p>
                    </div>
                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
                        <h5 class="row align-items-center">
                            <span class="date col-1">11</span>
                            <small class="col d-sm-none text-center text-muted">Saturday</small>
                            <span class="col-1"></span>
                        </h5>
                        <p class="d-sm-none">No events</p>
                    </div>
                    <div class="w-100"></div>
                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
                        <h5 class="row align-items-center">
                            <span class="date col-1">12</span>
                            <small class="col d-sm-none text-center text-muted">Sunday</small>
                            <span class="col-1"></span>
                        </h5>
                        <p class="d-sm-none">No events</p>
                    </div>
                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
                        <h5 class="row align-items-center">
                            <span class="date col-1">13</span>
                            <small class="col d-sm-none text-center text-muted">Monday</small>
                            <span class="col-1"></span>
                        </h5>
                        <p class="d-sm-none">No events</p>
                    </div>
                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
                        <h5 class="row align-items-center">
                            <span class="date col-1">14</span>
                            <small class="col d-sm-none text-center text-muted">Tuesday</small>
                            <span class="col-1"></span>
                        </h5>
                        <p class="d-sm-none">No events</p>
                    </div>
                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
                        <h5 class="row align-items-center">
                            <span class="date col-1">15</span>
                            <small class="col d-sm-none text-center text-muted">Wednesday</small>
                            <span class="col-1"></span>
                        </h5>
                        <p class="d-sm-none">No events</p>
                    </div>
                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
                        <h5 class="row align-items-center">
                            <span class="date col-1">16</span>
                            <small class="col d-sm-none text-center text-muted">Thursday</small>
                            <span class="col-1"></span>
                        </h5>
                        <p class="d-sm-none">No events</p>
                    </div>
                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
                        <h5 class="row align-items-center">
                            <span class="date col-1">17</span>
                            <small class="col d-sm-none text-center text-muted">Friday</small>
                            <span class="col-1"></span>
                        </h5>
                        <p class="d-sm-none">No events</p>
                    </div>
                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
                        <h5 class="row align-items-center">
                            <span class="date col-1">18</span>
                            <small class="col d-sm-none text-center text-muted">Saturday</small>
                            <span class="col-1"></span>
                        </h5>
                        <p class="d-sm-none">No events</p>
                    </div>
                    <div class="w-100"></div>
                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
                        <h5 class="row align-items-center">
                            <span class="date col-1">19</span>
                            <small class="col d-sm-none text-center text-muted">Sunday</small>
                            <span class="col-1"></span>
                        </h5>
                        <p class="d-sm-none">No events</p>
                    </div>
                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
                        <h5 class="row align-items-center">
                            <span class="date col-1">20</span>
                            <small class="col d-sm-none text-center text-muted">Monday</small>
                            <span class="col-1"></span>
                        </h5>
                        <a class="event d-block p-1 pl-2 pr-2 mb-1 rounded text-truncate small bg-primary text-white" title="Test Event with Super Duper Really Long Title">Test Event with Super Duper Really Long Title</a>
                    </div>
                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
                        <h5 class="row align-items-center">
                            <span class="date col-1">21</span>
                            <small class="col d-sm-none text-center text-muted">Tuesday</small>
                            <span class="col-1"></span>
                        </h5>
                        <p class="d-sm-none">No events</p>
                    </div>
                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
                        <h5 class="row align-items-center">
                            <span class="date col-1">22</span>
                            <small class="col d-sm-none text-center text-muted">Wednesday</small>
                            <span class="col-1"></span>
                        </h5>
                        <p class="d-sm-none">No events</p>
                    </div>
                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
                        <h5 class="row align-items-center">
                            <span class="date col-1">23</span>
                            <small class="col d-sm-none text-center text-muted">Thursday</small>
                            <span class="col-1"></span>
                        </h5>
                        <p class="d-sm-none">No events</p>
                    </div>
                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
                        <h5 class="row align-items-center">
                            <span class="date col-1">24</span>
                            <small class="col d-sm-none text-center text-muted">Friday</small>
                            <span class="col-1"></span>
                        </h5>
                        <p class="d-sm-none">No events</p>
                    </div>
                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
                        <h5 class="row align-items-center">
                            <span class="date col-1">25</span>
                            <small class="col d-sm-none text-center text-muted">Saturday</small>
                            <span class="col-1"></span>
                        </h5>
                        <p class="d-sm-none">No events</p>
                    </div>
                    <div class="w-100"></div>
                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
                        <h5 class="row align-items-center">
                            <span class="date col-1">26</span>
                            <small class="col d-sm-none text-center text-muted">Sunday</small>
                            <span class="col-1"></span>
                        </h5>
                        <p class="d-sm-none">No events</p>
                    </div>
                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
                        <h5 class="row align-items-center">
                            <span class="date col-1">27</span>
                            <small class="col d-sm-none text-center text-muted">Monday</small>
                            <span class="col-1"></span>
                        </h5>
                        <p class="d-sm-none">No events</p>
                    </div>
                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
                        <h5 class="row align-items-center">
                            <span class="date col-1">28</span>
                            <small class="col d-sm-none text-center text-muted">Tuesday</small>
                            <span class="col-1"></span>
                        </h5>
                        <p class="d-sm-none">No events</p>
                    </div>
                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
                        <h5 class="row align-items-center">
                            <span class="date col-1">29</span>
                            <small class="col d-sm-none text-center text-muted">Wednesday</small>
                            <span class="col-1"></span>
                        </h5>
                        <p class="d-sm-none">No events</p>
                    </div>
                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
                        <h5 class="row align-items-center">
                            <span class="date col-1">30</span>
                            <small class="col d-sm-none text-center text-muted">Thursday</small>
                            <span class="col-1"></span>
                        </h5>
                        <p class="d-sm-none">No events</p>
                    </div>
                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">
                        <h5 class="row align-items-center">
                            <span class="date col-1">1</span>
                            <small class="col d-sm-none text-center text-muted">Friday</small>
                            <span class="col-1"></span>
                        </h5>
                        <p class="d-sm-none">No events</p>
                    </div>
                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">
                        <h5 class="row align-items-center">
                            <span class="date col-1">2</span>
                            <small class="col d-sm-none text-center text-muted">Saturday</small>
                            <span class="col-1"></span>
                        </h5>
                        <p class="d-sm-none">No events</p>
                    </div>
                    <div class="w-100"></div>
                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">
                        <h5 class="row align-items-center">
                            <span class="date col-1">3</span>
                            <small class="col d-sm-none text-center text-muted">Sunday</small>
                            <span class="col-1"></span>
                        </h5>
                        <p class="d-sm-none">No events</p>
                    </div>
                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">
                        <h5 class="row align-items-center">
                            <span class="date col-1">4</span>
                            <small class="col d-sm-none text-center text-muted">Monday</small>
                            <span class="col-1"></span>
                        </h5>
                        <p class="d-sm-none">No events</p>
                    </div>
                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">
                        <h5 class="row align-items-center">
                            <span class="date col-1">5</span>
                            <small class="col d-sm-none text-center text-muted">Tuesday</small>
                            <span class="col-1"></span>
                        </h5>
                        <p class="d-sm-none">No events</p>
                    </div>
                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">
                        <h5 class="row align-items-center">
                            <span class="date col-1">6</span>
                            <small class="col d-sm-none text-center text-muted">Wednesday</small>
                            <span class="col-1"></span>
                        </h5>
                        <p class="d-sm-none">No events</p>
                    </div>
                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">
                        <h5 class="row align-items-center">
                            <span class="date col-1">7</span>
                            <small class="col d-sm-none text-center text-muted">Thursday</small>
                            <span class="col-1"></span>
                        </h5>
                        <p class="d-sm-none">No events</p>
                    </div>
                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">
                        <h5 class="row align-items-center">
                            <span class="date col-1">8</span>
                            <small class="col d-sm-none text-center text-muted">Friday</small>
                            <span class="col-1"></span>
                        </h5>
                        <p class="d-sm-none">No events</p>
                    </div>
                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">
                        <h5 class="row align-items-center">
                            <span class="date col-1">9</span>
                            <small class="col d-sm-none text-center text-muted">Saturday</small>
                            <span class="col-1"></span>
                        </h5>
                        <p class="d-sm-none">No events</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
{{/partial}}

{{> base.hbs}}