{{#partial "content" }}
    </head>
    <!-- Navigation -->
    {{> Nav.hbs}}
    <body class="sticky-footer">
    <div class="content-wrapper">
        <div class="container-fluid">
            <ol class="breadcrumb shadow">
                <li class="breadcrumb-item">
                    <a href="/usuario/{{idUser}}">Que Me Pongo</a>
                </li>
                <li class="breadcrumb-item active">{{section}}</li>
            </ol>
            <div class="card text-center shadow">
                <div class="card-header">
                    <ul class="nav nav-pills nav-fill card-header-pills">
                        <li class="nav-item">
                            <p class="nav-link active mb-0">
                                Seleccione uno de los atuendos sugeridos a continuacion
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="card-body p-2">
                    <h5>Descripcion:</h5>
                    <p>Lorem ipsum dolor sit amet</p>
                    <hr>
                    <div id="atuendo1" class="atuendo">
                        <div class="btn-group mr-2 mb-2" role="group" aria-label="First group">
                            <button type="button" class="btn btn-success" title="Aceptar atuendo 1" onclick="aceptar(1)"><i class="fal fa-check-circle"></i> Aceptar</button>
                            <button type="button" class="btn btn-danger" title="Rechazar atuendo 1" onclick="rechazar(1)"><i class="fal fa-ban"></i> Rechazar</button>
                        </div>
                        <div class="card-deck">
                            <div class="card">
                                <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                            <div class="card">
                                <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                            <div class="card">
                                <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                    <div id="atuendo2" class="atuendo">
                        <div class="btn-group mr-2 mb-2" role="group" aria-label="First group">
                            <button type="button" class="btn btn-success" title="Aceptar atuendo 2" onclick="aceptar(2)"><i class="fal fa-check-circle"></i> Aceptar</button>
                            <button type="button" class="btn btn-danger" title="Rechazar atuendo 2" onclick="rechazar(2)"><i class="fal fa-ban"></i> Rechazar</button>
                        </div>
                        <div class="card-deck">
                            <div class="card">
                                <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                            <div class="card">
                                <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                            <div class="card">
                                <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <script>
        function aceptar(id) {
            let mensaje = 'Atuendo ' + id + ' elegido';
            //Aca poner la funcion de el controler de asignar atuendo a evento
            toast(mensaje, 'success');
        }

        function rechazar(id) {
            let clave = 'atuendo' + id;
            document.getElementById(clave).remove();
            if(document.getElementsByClassName('atuendo').length === 1) {
                let mensaje = 'Solo queda un atuendo, por descarte este es el elegido';
                //Aca poner la funcion de el controler de asignar atuendo a evento
                toast(mensaje, 'success');
            }
        }
    </script>
{{/partial}}

{{> base.hbs}}