{{#partial "content" }}
    </head>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top shadow">
        <a class="navbar-brand" href="/home"><i class="fal fa-scarf"></i> Que Me Pongo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fal fa-user"></i> Admin Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <form action="/logout" method="POST" class="form-inline centered">
                            <button type="submit" class="dropdown-item text-danger"><i class="fal fa-sign-out-alt"></i> Salir
                            </button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <body class="text-center sticky-footer">
    <div class="content-wrapper">
        <div class="container-fluid">
            <ol class="breadcrumb shadow">
                <li class="breadcrumb-item">
                    <a href="#">Que Me Pongo</a>
                </li>
                <li class="breadcrumb-item active">{{section}}</li>
            </ol>
        </div>
    </div>
{{/partial}}

{{> base.hbs}}