{{#partial "content" }}
</head>
<style>
    .field-icon {
        float: right;
        margin-top: -27px;
        margin-right: 10px;
        position: relative;
        z-index: 2;
    }
</style>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow">
    <a class="navbar-brand" href="/"><i class="fal fa-scarf"></i> Que Me Pongo</a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/register">Registrarse</a>
        </li>
    </ul>
</nav>
<body class="text-center sticky-footer">
<div class="content-wrapper">
    <div class="container-fluid">
        <ol class="breadcrumb shadow">
            <li class="breadcrumb-item">
                <a href="#">Que Me Pongo</a>
            </li>
            <li class="breadcrumb-item active">{{section}}</li>
        </ol>
        <div class="row justify-content-center">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                <div class="card text-center shadow">
                    <div class="card-header">
                        <ul class="nav nav-pills nav-fill card-header-pills">
                            <li class="nav-item">
                                <p class="nav-link active mb-0">
                                    Completa tus datos para ingresar
                                </p>
                            </li>
                        </ul>
                    </div>
                    <form action="" method="post"
                          class="">
                        <div class="card-body p-2">
                            <div class="form-group">
                                <div>
                                    <label for="email">Email:</label>
                                    <input aria-label="email" id="email" type="email"
                                           class="form-control {{#if logError}} is-invalid {{/if}}"
                                           name="email"
                                           value="{{oldEmail}}" required autofocus placeholder="Email" oninput="this.value=this.value.toLowerCase()">
                                    <div class="invalid-feedback">
                                        <strong>Las credenciales ingresadas no se encuentran</strong>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label for="password">Contraseña:</label>
                                    <input aria-label="contraseña" id="password" type="password"
                                           class="form-control"
                                           name="password"
                                           value="{{oldPass}}"
                                           required placeholder="Contraseña">
                                    <span id="toggle-password" class="fal fa-eye field-icon" onclick="togglePass()"></span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer" style="display: flex; justify-content: center;">
                            <button type="submit" class="btn btn-block btn-primary">
                                <i class="fal fa-sign-in-alt"></i>
                                Entrar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function togglePass(){
        let toggleIcon = $('#toggle-password');
        toggleIcon.toggleClass("fa-eye fa-eye-slash");
        let input = $('#password');
        if (input.attr("type") === "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    }
</script>
{{/partial}}

{{> base.hbs}}