{{#partial "content" }}
    <!-- Custom styles for this template -->
    <link href="css/landing-page.css" rel="stylesheet">

</head>

<body>

<!-- Navigation -->

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow">
    <a class="navbar-brand" href="/">Que Me Pongo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            {{#if logged}}
                <li class="nav-item active">
                    <a class="nav-link" href="/usuario/{{idUser}}">Entrar</a>
                </li>
            {{else}}
                <li class="nav-item active">
                    <a class="nav-link" href="/login">Iniciar sesion</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/register">Registrarse</a>
                </li>
            {{/if}}
        </ul>
    </div>
</nav>

<!-- Masthead -->
<header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <img class="img-fluid rounded-circle" style="margin: auto; width: 300px" src="images/logo.png" alt="">
        </div>
    </div>
</header>

<!-- Image Showcases -->
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('images/bg-showcase-1.jpg');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Diseño Responsive</h2>
                <p class="lead mb-0">Podras acceder a nuestro sitio desde cualquier dispositivo que te imagines, ya que el mismo se adapta automaticamente al mismo!</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url('images/bg-showcase-2.jpg');"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Algoritmos y Magia Negra</h2>
                <p class="lead mb-0">Utilizando nuestros algoritmos patentados y rituales satanicos, obtenemos los mejores atuendos posibles para los eventos que nos indiques!</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('images/bg-showcase-3.jpg');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Facil de Usar</h2>
                <p class="lead mb-0">Gracias a su interfaz diseñada al detalle, hasta un bebe podria usar nuestro sitio, aunque si tienes problemas siempre estaremos disponibles a ayudarte mediante nuestro sistema de palomas!</p>
            </div>
        </div>
    </div>
</section>

<!-- Testimonials -->
<section class="testimonials text-center bg-light">
    <div class="container">
        <h2 class="mb-5">Lo que la gente esta diciendo...</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="images/testimonials-1.jpg" alt="">
                    <h5>Margaret E.</h5>
                    <p class="font-weight-light mb-0">"jAJAJAjajajajJAjAJjAjJAjJAj No puedo parar de reir, ayuda JAJAJajajjaja!"</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="images/testimonials-2.jpg" alt="">
                    <h5>Fred S.</h5>
                    <p class="font-weight-light mb-0">"Por alguna razon me empezo a seguir una parvada de cuervos negros a todos lados, pero los atuendos son geniales."</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="images/testimonials-3.jpg" alt="">
                    <h5>Sarah W.</h5>
                    <p class="font-weight-light mb-0">"Puedo tipear sin mirar la pantalla jejeje!"</p>
                </div>
            </div>
        </div>
    </div>
</section>
{{/partial}}

{{> base.hbs}}