<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top shadow">
    <a class="navbar-brand" href="/usuario/{{idUser}}">Que Me Pongo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/calendar">
                    <i class="fal fa-calendar-alt"></i>
                    <span class="nav-link-text">Calendario</span>
                </a>
            </li>
            <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-no-instant="" onclick="load_guardarropas()">
                    <i class="fal fa-socks"></i>
                    <span class="nav-link-text">Guardarropas</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" id="menu_guardarropas">
                    <a class="dropdown-item " href="/guardarropa/1">
                        <span class="nav-link-text">Pepe</span>
                    </a>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addWardrobe">Agregar Guardarropa</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fal fa-user"></i> {{nombre}} {{apellido}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/preferencias/1"><i class="fal fa-sliders-v-square"></i> Preferencias</a>
                    <a class="dropdown-item" href="/perfil/{{idUser}}"><i class="fal fa-address-book"></i> Perfil</a>
                    <form action="/logout" method="POST" class="form-inline centered">
                        <button type="submit" class="dropdown-item text-danger"><i class="fal fa-sign-out-alt"></i> Salir
                        </button>
                    </form>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="modal fade" id="addWardrobe" tabindex="-1" role="dialog" aria-labelledby="addWardrobeLabel" aria-hidden="true">
    <div class="border-dark modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success text-white">
                <h5 class="modal-title" id="addWardrobeLabel">Agregar guardarropa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="nombreGuardarropa">Nombre</label>
                    <input type="text" class="form-control" id="nombreGuardarropa" placeholder="Nombre">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-block" onclick="agregarGuardarropa()">
                    <i class="fal fa-plus"></i>
                    Agregar
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    function agregarGuardarropa() {
        let nombre = document.getElementById('nombreGuardarropa').value;
        if (nombre === ""){
            toast('Debe darle un nombre al guardarropa', 'error');
        } else {
            let noti = toast('Agregando guardarropa', 'info');
            $('#addWardrobe').modal('hide');
            axios.post('/guardarropa', {
                nombre: nombre
            })
            .then(function (response) {
                noti.update('Guardarropa agregado', 'success');
                console.log(response);
            })
            .catch(function (error) {
                noti.update('Error al agregar guardarropa', 'error');
                console.log(error);
            });
        }
    }
</script>