{{#partial "content" }}
    </head>
    <!-- Navigation -->
    {{> Nav.hbs}}
    <body class="text-center sticky-footer">
    <div class="content-wrapper">
        <div class="container-fluid">
            <ol class="breadcrumb shadow">
                <li class="breadcrumb-item">
                    <a href="/usuario/{{idUser}}">Que Me Pongo</a>
                </li>
                <li class="breadcrumb-item active">{{section}}</li>
            </ol>
        </div>
        <div class="row justify-content-center">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                <div class="card text-center shadow">
                    <div class="card-header">
                        <ul class="nav nav-pills nav-fill card-header-pills">
                            <li class="nav-item">
                                <p class="nav-link active mb-0">
                                    Preferencias de usuario
                                </p>
                            </li>
                        </ul>
                    </div>
                    <form action="" method="post"
                          class="">
                        <div class="card-body p-2">
                            <div class="form-group">
                                <div>
                                    <label for="tela">Tela:</label>
                                    <input aria-label="tela" id="tela" type="text"
                                           class="form-control" placeholder="Tela" autofocus required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-md">
                                        <label for="color1Prenda">Color uno</label>
                                        <input id="color1Prenda" type="text" class="form-control" placeholder="Color uno">
                                    </div>
                                    <div class="col-md">
                                        <label for="color2Prenda">Color dos</label>
                                        <input id="color2Prenda" type="text" class="form-control" placeholder="Color dos">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer" style="display: flex; justify-content: center;">
                            <button type="submit" class="btn btn-block btn-primary">
                                <i class="fal fa-pencil"></i>
                                Actualizar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{{/partial}}

{{> base.hbs}}