{{#partial "content" }}
    </head>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow">
        <a class="navbar-brand" href="/"><i class="fal fa-scarf"></i> Que Me Pongo</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/login">Iniciar sesion</a>
            </li>
        </ul>
    </nav>
    <body class="text-center sticky-footer">
    <div class="content-wrapper">
        <div class="container-fluid">
            <ol class="breadcrumb shadow">
                <li class="breadcrumb-item">
                    <a href="#">Que Me Pongo</a>
                </li>
                <li class="breadcrumb-item active">{{section}}</li>
            </ol>
            <div class="row justify-content-center">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                    <div class="card text-center shadow">
                        <div class="card-header">
                            <ul class="nav nav-pills nav-fill card-header-pills">
                                <li class="nav-item">
                                    <p class="nav-link active mb-0">
                                        Completa tus datos para resgistrarte
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <form action="" method="post"
                              class="">
                            <div class="card-body p-2">
                                <div class="form-group">
                                    <div>
                                        <label for="nombre">Nombre:</label>
                                        <input aria-label="nombre" id="nombre" type="text"
                                               class="form-control" name="nombre" required
                                               autofocus placeholder="Nombre">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div>
                                        <label for="apellido">Apellido:</label>
                                        <input aria-label="apellido" id="apellido" type="text"
                                               class="form-control" name="apellido" required
                                               placeholder="Apellido">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div>
                                        <label for="telefono">Telefono:</label>
                                        <input aria-label="telefono" id="telefono" type="tel"
                                               class="form-control" name="telefono" required
                                               placeholder="Telefono">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div>
                                        <label for="email">Email:</label>
                                        <input aria-label="email" id="email" type="email"
                                               class="form-control" name="email" required
                                               placeholder="Email"
                                               oninput="this.value=this.value.toLowerCase()">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div>
                                        <label for="password">Contraseña:</label>
                                        <input aria-label="contraseña" id="password" type="password"
                                               class="form-control"
                                               name="password"
                                               required placeholder="Contraseña">
                                    </div>
                                </div>
                                <label>Notificacion:</label>
                                <div class="form-group">
                                    <div>

                                        <div class="custom-control custom-checkbox custom-control-inline">
                                            <input type="checkbox" id="customCheckEmail" name="customCheckEmail" class="custom-control-input">
                                            <label class="custom-control-label" for="customCheckEmail">Email</label>
                                        </div>
                                        <div class="custom-control custom-checkbox custom-control-inline">
                                            <input type="checkbox" id="customCheckSMS" name="customCheckSMS" class="custom-control-input">
                                            <label class="custom-control-label" for="customCheckSMS">SMS</label>
                                        </div>
                                        <div class="custom-control custom-checkbox custom-control-inline">
                                            <input type="checkbox" id="customCheckWapp" name="customCheckWapp" class="custom-control-input">
                                            <label class="custom-control-label" for="customCheckWapp">Wapp</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer" style="display: flex; justify-content: center;">
                                <button type="submit" class="btn btn-block btn-primary">
                                    <i class="fal fa-sign-in-alt"></i>
                                    Registrarse
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/partial}}

{{> base.hbs}}