<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
	<hibernate-configuration>

		<session-factory>

			<property name = "hibernate.dialect">
				org.hibernate.dialect.MySQLDialect
			</property>

			<property name = "hibernate.connection.driver_class">
				com.mysql.jdbc.Driver
			</property>

			<!-- Assume test is the database name -->

			<property name = "hibernate.connection.url">
				jdbc:mysql://localhost:3306/database_queMePongo?serverTimezone=UTC&amp;useSSL=false

            </property>

			<property name = "hibernate.connection.username">
				root
			</property>

			<property name = "hibernate.connection.password">
				admin
			</property>

			<!-- List of XML mapping files -->

			<mapping class="Model.frecuencia.Frecuencia" />
			<mapping class="Model.frecuencia.Unica" />
			<mapping class="Model.tipoDePrenda.TipoPrenda" />
			<mapping class="Model.tipoDePrenda.TipoPrendaAbrigo" />
			<mapping class="Model.tipoDePrenda.TipoPrendaBasico" />
			<mapping class="Model.queMePongo.Usuario" />
			<mapping class="Model.queMePongo.PreferenciasDTO" />
			<mapping class="Model.queMePongo.Evento" />
			<mapping class="Model.queMePongo.Guardarropas" />
			<mapping class="Model.queMePongo.Prenda" />
			<mapping class="Model.queMePongo.Categoria" />
			<mapping class="Model.queMePongo.Atuendo" />


        </session-factory>

	</hibernate-configuration>
